{
    "tabWidth": 4,
    "printWidth": 150,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "es5",
    "arrowParens": "always",
    "jsxBracketSameLine": false
}
